/* React Bootstrap Table Styles */
@import "./table.css"; 

/* Themes */
:root {
    --main-color: #FFDB00; 
}

.text-theme-main {
    color: var(--main-color);
}

.btn-theme-main {
    background: var(--main-color) !important;
    color: black !important;
    border-color: var(--main-color) !important;
}



.text-size-9 {
    font-size: 7px !important;
}

.btn-search-left {
    position: absolute;
    left:0;
}

/* Pre-loaders */
.fullpage-preloader {
    opacity: 1;
    background: #ececec;
    z-index: 10;
    top: 0;
    left: 0;
    display: table;
    position: absolute;
    height: 100VH;
    width: 100VW;
}

.outer-page {
    display: table-cell;
    vertical-align: middle;
}

.inner-page {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    bottom: 30px;
    position: relative;
}

.spinner-position {
    margin-left: 10px;
    position: relative;
    top: 5px;
}


/* submit Indicators */
.submit-modal {
    top: 10%;
}

/* Error Indicators */
.modal-dialog.error-indicator-modal > .modal-content {
    background-color: #d35a5a;
    color: white;
}
.modal-dialog.error-indicator-modal, 
.modal-dialog.user-validation-modal, 
.modal-dialog.timeout-modal {
    top: 10%;
}

.newcc-modal {
    top: 10%;
    left: 25%;
}

/* Word Loaders */
.loading-form {
    position: absolute;
    top: 17%;
    left: 20px;
}
.loading {
    font-size: 15px;
}
  
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
  
@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
  
@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
